
$primary_color_green:#03EB70;
$primary_color_purple:#7A1CCA;

$secondary_color_blue:#0092FF;
$secondary_color_magenta:#E126C3;
$secondary_color_orange:#FE793B;

$greyscale_black:#101010;
$greyscale_grey:#444649;
$greyscale_medium:#888C8F;
$greyscale_light:#CDCED0;
$greyscale_extralight:#FBFBFB;

$main_white:#FFFF;