@import "main.scss";

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    overflow-x: hidden;

}
.logo-eniblock{
    display: flex;
    align-items: center;
    h1{
        @include styleH('h1',$main_white);
        margin-left: 5px;
    }
}
.container-logo{
    display: flex;
    .container-burger{
        display: none;
    }
    img:nth-child(2){
        margin-left: 5px;
    }
}
ul{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: $main_white;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: 100vw;
    height: 120px;
    display: flex;
    padding-top: 30px;
    color: $main_white;
    background: $greyscale_black;
    font-family: $font_1_light;
        
    .wrapper{
        display: flex;
        margin: auto;
        width: 1208px;
        height: auto;
        }
    ul{
        display: flex;     
        &>li{
            font-size: $small_textsize_all;
            margin-left:35px;
            font-weight: 400;
        }
    }
    .arrow-down{
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
    }
    .arrow-right{
        display: inline-flex;
        align-self: center;
        margin-left: 10px;
    }
    .container-nav{
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 100vw;
    }
    .container-cta{
        font-size: $small_textsize_all;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .button{
        background-color: transparent;
        border: 1px $main_white solid;
        padding: 13px;
        border-radius: 5px;
        margin-left: 25px;
        &:hover{
            @include hover;
            color: $greyscale_black;
        }
        .btn-text{
            @include button;
            font-size: $small_textsize_all;
            }
    }
    // scroll down
    .button-green{
        background: $primary_color_green;
        color: $greyscale_black;
        border: 1px solid $primary_color_green;
         .btn-text-black{
            color: $greyscale_black;
        }
    }
}
.section-head{
    padding-top: 207px;
    background-color: $greyscale_black;
    display: flex;
    flex-wrap: wrap;
    font-family: $font_1_regular;
    color: $main_white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 1208px;
    }
    .container-design{
        width: 687px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
            @include styleH('h1',$main_white);
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .title-bold{
                font-family: $font_1_bold;
            }
            .title-light{
                font-family: $font_1_light
            }
            .text-1{
                position: relative;
                height: 60px;
            }
            // .text-1::before{
            //     content:"";
            //     position: absolute;
            //     top:0;
            //     left: 0;
            //     height:100% ;
            //     width: 100%;
            //     background-color: $greyscale_black;
            //     animation: animate 4s steps(30) infinite;
            // }
            // @keyframes animate{
            //     40%,60%{
            //         left: 100%;
            //     }
            //     100%{
            //         left: 0;
            //     }
            // } 
            .text-1::after{
                content: '';
                position: absolute;
                inset: 0;
                top: 50px;
                height: 8px;
                width: 40px;
                background-color: $greyscale_light;
                animation: animate 4s steps(30) infinite;
            //     animation : blink 0.4s infinite;
            //     @keyframes blink{
            //         0%{
            //             opacity: 0;
            //         }
            // }
            }

        }
        .subtitle{
            @include styleH('h6',$main_white);
            font-weight: 400;
        }
    }
    .button-call{
        display: inline-flex;
        background-color: $primary_color_green;
        border: none;
        border-radius: 4px;
        padding: 15px 35px 15px 35px;
        margin-top: 32px;
        &:hover{
            @include hover($bg:transparent,$border:1px $main_white solid);
            color:$main_white;
        }
        .btn-text{
            @include button;
            color:$greyscale_black;
            
        }
    }
    .container-partners{
        margin-top: 129px;
        width: 100%;
        p{
            @include parag;
        }
    }
    .container-logos-partners{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            max-width: 90px;
            max-height: 90px;
            mix-blend-mode: difference;
        }
    }
    .container-svg{
        flex: 1;
        position: relative;
        img{
            position: absolute;
            top: -240px;
            left: 50px;
        }
        .left-top-piece{
            animation: ltp 3s ease reverse infinite;
        }
        @keyframes ltp {
            0%{
                transform: translateY(0px);
            }
            100%{
                transform: translateY(-200px);
            }
        }
    }
}
.section-platform{
    background-color: $greyscale_black;
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        font-family: $font_1_light;
        color: $main_white;
        h2{
            @include styleH('h2',$main_white);
            font-family: $font_1_light;
            margin-top: 72px;
        }
        .font-thin{
            font-family: $font_1_light;
        }
        strong{
            font-family: $font_1_bold;
            font-weight: 100;
        }
        p{
            @include parag($size:18px);
            margin: auto;
            color: $greyscale_medium;
            width: 790px;
        }
    }
    .separate-bar{
        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 8px;
        width: 40px;
        border: none;
        background-color: $primary_color_purple;
    }
    .container-cards{
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: 80px;
    }
    .container-card{
        margin: auto 8px 72px 8px;
        text-align: center;
        padding: 37px 24px 0 24px;
        width: 272px;
        height: 360px;
        background-color: $primary_color_purple;
        border-radius: 8px;
        font-family: $font_2_regular;
        color:$main_white;
        .circle{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
        }
        h5,h6{
            font-family: $font_2_regular;
        }
        h5{
            @include styleH('h5',$main_white);
            padding-top: 24px;
        }
        h6{
            font-weight: 400;
            @include styleH('h6',$main_white);
            opacity: 0.7;
            padding-bottom: 28px;
        }
        p{
            opacity: 0.7;
            padding-top: 22px;
            @include parag($size:16px);
        }
    }
    .container-tool{
        position: absolute;
    }
}


.section-building{
    .wrapper{
        width: 1208px;
        margin: auto;
    }
        img:nth-child(2){
            width: 100%;
            display: block;
            margin: auto;
        }
    background-color: $greyscale_black;
    display: flex;
    flex-direction: column;
    color: $main_white;
    font-family: $font_2_regular;
    text-align: center;
    padding-bottom: 100px;
    h3{
        @include styleH('h3',$main_white);
    }
    h5,a{
        font-family: $font_1_regular;
    }
    p{
        display: block;
        height: 96px;
        color:$greyscale_grey;
    }
    .container-all{
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 72px;
    }
    .container-building{
        height: 336px;
        width: 282px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        .container-svg{
            margin: auto;
            width: 64px;
            height: 64px;
        }
        h5{
            margin-top: 24px;
            font-weight: 400;
            @include styleH('h4',$main_white);
            margin-bottom: 12px ;
        }
        p{
            margin-bottom: 16px ;
        }
        a{
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $main_white;
            &::after{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 89px;
                width: 8px;
                height: 2px;
                transform: scaleX(0);
                transition: transform 0.3s ease;
                background: $main_white;
            }
            &:hover::after{
                width: 8px;
                transform: scaleX(1);
                transition: transform 0.3s ease;
               }
        }
    }
}
.section-building-two{
    background-color: $greyscale_black;
    display: flex;
    flex-direction: column;
    color: $main_white;
    font-family: $font_2_regular;
    text-align: center;
    padding-bottom: 100px;
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-text{
        margin: auto;
        margin-top: 72px;
        margin-bottom:85px ;
        width: 664px;
        h6{
            font-weight: 400;
            @include styleH('h6',$main_white,$font:$font_1_regular);
        }
    }
    .container-icons{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        margin-bottom: 100px;
    }
    .blockchains h6{
        position: absolute;
        @include styleH('h6');
    }
    .content-white{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $main_white;
        width: 101px;
        height: 23px;
        margin-bottom: 30px;
        box-shadow: 10.4494px 10.4494px 0px rgba(255, 255, 255, 0.1);
        h6{
            @include styleH('h6');
        }
    }
    .container-status {
        .container-live {
        margin: auto;
        background-color: $primary_color_green;
        border-radius:4px;
        width: 50px;
        height: 14px;
        box-shadow: 4.38558px 4.38558px 0px rgba(255, 255, 255, 0.1);
        p{
            @include parag($size:11px);
            color: $greyscale_black;
        }
        }
        .container-soon {
            margin: auto;
            background-color: $primary_color_purple;
            border-radius:4px;
            width: 70px;
            height: 14px;
            box-shadow: 4.38558px 4.38558px 0px rgba(255, 255, 255, 0.1);
            p{
                @include parag($size:11px);
                color: $main_white;
            }
        }
        .container-img{
            width: 120px;
            margin-bottom: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 120px;
            }
        }
    }
}

.section-touch{
    margin-top: -120px;
    .wrapper{
        margin: auto;
        width: 1208px;
    }
    .container-touch{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1000px;
        height: 240px;
        background-color: $primary_color_green;
        margin: auto;
        border-radius: 4px;
        .container-text{
            margin-top: 20px;
            margin-bottom: 20px;
            h5{
                font-family: $font_1_regular;
                line-height: 250%;
                text-align: center;
                color: $greyscale_black;
                strong{
                    font-family: $font_1_bold;
                    font-size: 43px;
                }
            }
        }
    }
    .btn {
        display: inline-flex;
        height: 50px;
        padding: 0px 24px 0px 24px;
        background: $greyscale_black;
        border-radius: 4px;
        align-items: center;
        margin: 0 auto 49px auto;
        &:hover{
            @include hover($border:$greyscale_black 1px solid);
            color:$greyscale_black;
        }
        .btn-text{
            @include button;
        }
    }
    .container-slice-left{
        position: absolute;
        left:0;
    }
    .container-slice-right{
        position: absolute;
        right: 0;
    }
}
.section-solutions{
    margin-bottom: 150px;
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-discover{
        margin-top: 150px;
        text-align: center;
        h2{
            @include styleH('h2');
            font-family: $font_1_light;
        }
        strong{
            font-family: $font_1_bold;
        }
        .separate-bar{
            width: 40px;
            border: 4px solid $primary_color_purple;
            margin: 40px auto;
        }
    }
    .container-solutions{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
        &.even{
            flex-direction: row-reverse;
        }
        .text{
            @include parag($size:16px,$fw:0);
        }
        strong{
            font-family: $font_2_bold;
        }
        .container-articles{
            display: flex;
            flex-direction: column;
            width: 400px;
            ul{
                margin-top: 16px;
            }
            li{
                display: flex;
                margin-top: -10px;
                gap:16px;
            }
        }
        .container-title{
            font-family: $font_1_regular;
            color: $greyscale_black;
            h3{
                @include styleH('h3');
                margin-bottom: 16px;
            }
            p{
                @include parag;
                margin-bottom: 25px ;
            }
        }
        .txt1, .txt2{
            padding-bottom:21px;
            border-bottom: 0.5px solid $greyscale_light; 
        }
        a{
            position: relative;
            display:flex;
            font-family: $font_2_bold;
            margin-top: 16px;
            color: $greyscale_black;
            &::after{
                content: '';
                position: absolute;
                bottom: -1px;
                left: 87px;
                width: 8px;
                height: 2px;
                transform: scaleX(0);
                transition: transform 0.3s ease;
                background: $greyscale_black;
            }
            &:hover::after{
                width: 8px;
                transform: scaleX(1);
                transition: transform 0.3s ease;
               }
        }   img{
            padding-left: 5px;
        }
    }
}
.section-ready{
    background-color: $primary_color_green;
    .wrapper{
        width: 100vw ;
        margin: auto;
    }
    .container-ready{
        position: relative;
        height: 350px;
        margin: auto;
        text-align: center;
    }
    .container-svg-left, .container-svg-right {
        img{
            position: absolute;
            height: 250px;
            height: max-content;
        }
    }
    .container-svg-left img{
        left:0;
    }
    .container-svg-right img{
        right:0;
    }
    .container-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 446px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $greyscale_black;
        h2{
            @include styleH('h2',$font:$font_1_light);
            margin-top:76px
        }
        strong{
            font-family: $font_1_bold;
        }
        p{
            @include parag($size:18px);
            margin:16px auto 16px auto;
        }
    }
    a.btn{
        display: block;
        background-color: $greyscale_black;
        border: none;
        border-radius: 4px;
        padding: 0px 24px 0px 24px;
        &:hover{
            @include hover($border:$greyscale_black 1px solid);
            color:$greyscale_black;
        }
        .btn-text {
            @include button;
            
        }
    }
}
.section-who {
    .wrapper{
        width: 100vw;
        margin: auto;
    }
    .container-who{
        display: flex;
        height: 729px;
        background-color: $primary_color_purple;
        gap: 144px;
        color:$main_white;
    }
    .container-who-left{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        align-items: flex-start;
    }
    .container-who-right{
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }
    h2{
        font-weight: 400;
        @include styleH('h2',$main_white);
        margin-top: 200px;
        .font-thin{
            font-family: $font_1_light;
        }
        strong{
            font-family: $font_1_bold;
        }
    }
    .container-text{
        display: block;
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $main_white;
            border-radius: 4px;
            width: 131px;
            height: 50px;
            text-align: center;
        }
        .btn-text{
            @include button($fw:900);
         
        }
    }
    p{
        opacity: 0.7;
        @include parag($size:18px);
        margin:24px auto 45px auto;
    }
    .container-card{
        display: flex;
        flex-direction: column;
        position:relative;
        width: 376px;
        height: 489px;
        background: $greyscale_black;
        box-shadow: 10.4494px 10.4494px 0px rgba(24, 24, 24, 0.1);
        border-radius: 4px;
        padding:30px 30px 30px 30px;
        &:nth-child(2){
            display: flex;
            margin-left: 24px;
            flex-direction: column;
            align-self: center;
            position:relative;
            width: 330px;
            height: 428px;
            background: $greyscale_black;
            box-shadow: 10.4494px 10.4494px 0px rgba(24, 24, 24, 0.1);
            border-radius: 4px;
            padding:25px 25px 25px 25px;
            opacity: 0.6;
            p{
                opacity: 0.7;
                @include parag($size:14px);
                margin:24px auto 12px auto;
            }
        }
        .btn-text{
            @include button($fw:900);
            color: $main_white;
        }
        .bg-color1{
            width: 316px;
            height: 240px;
            left: 30px;
            top: 30px;
            background: linear-gradient(113.26deg,  $primary_color_purple 19.6%, #FFB313 86.33%);
            border-radius: 4px;
        }
        .bg-color2{
            width: 277px;
            min-height: 210px;
            left: 30px;
            top: 30px;
            background: linear-gradient(113.26deg, #F957EF 13.78%, #EC3CDE 33.16%, #7E43E5 51.84%, #8057F3 80.53%,  $primary_color_purple 99.06%);
            border-radius: 3.5092px;
        }
        .container-img{
            display: flex;
            margin: auto;
            justify-content: center;
            align-content: center;
            padding-top:22px ;
        }
        .container-img2{
            display: flex;
            margin: auto;
            justify-content: center;
            align-content: center;
            margin-top: 20px;
        }
        .container-tag{
            position: absolute;
            right: 44px;
            top:228px;
            background: $greyscale_black;
            border: 0.522471px solid $greyscale_black;
            box-shadow: 10.4494px 10.4494px 0px rgba(24, 24, 24, 0.1);
            border-radius: 4px;
            width: 48px;
            height: 27px;
            padding:3px 4px 3px 4px;
            .btn-text{
                @include button;
                text-align: center;
            }
        }
        .container-tag2{
            position: absolute;
            right: 43px;
            top:190px;
            background: $greyscale_black;
            border: 0.522471px solid $greyscale_black;
            box-shadow: 10.4494px 10.4494px 0px rgba(24, 24, 24, 0.1);
            border-radius: 4px;
            width: 70px;
            height: 27px;
            padding:3px 4px 3px 4px;
        }
        h4{
            font-weight: 400;
            @include styleH('h4');
            margin-top: 24px;
        }
        p{
            @include parag($size:16px);
            color: $greyscale_medium;
        }   
    }
}
.section-about{
    border-bottom: 1px solid $greyscale_light;
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:70px;
        font-family: $font_2_regular;
        margin:100px 0 100px 0;
    }
    h2{
        font-weight: 400;
        @include styleH('h2');
        margin-bottom: 55px;
        .font-thin{
            font-family: $font_1_light;
        }
        strong{
            font-family: $font_1_bold;
        }
    }
    .separate-bar{
        margin-bottom: 40px;
        margin-top: 40px;
        height: 8px;
        width: 40px;
        border: none;
        background-color:  $primary_color_purple;
    }
    p{
        @include parag;
        width:230px ;
        color: $greyscale_grey;
    }
    .container-left{
        justify-content: left;
        align-self: flex-end;
    }
    .container-right {
        align-self: flex-end;
        a{
        color: $greyscale_black;
        font-family: $font_2_bold;
        }
    }
}
.section-happening{
    margin: 100px 0 100px 0;
    .wrapper{
        width: 1208px;
        margin: auto;
    }
    .container-title{
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 152px;
        margin-bottom: 72px;
    }
    .separate-bar{
        position: absolute;
        right: 255px;
        height: 8px;
        width: 40px;
        background: $primary_color_purple;
    }
    h2{
        font-weight: 400;
        @include styleH('h2');
        .font-thin{
            font-family: $font_1_light;
        }
        strong{
            font-family: $font_1_bold;
        }
    }
    .container-cards{
        display: flex;
        justify-content: center;
        gap:40px;
        &:first-of-type{
            box-shadow: 21.5908px 21.5908px 0px rgba(24, 24, 24, 0.1);
        }
    }
    .container-card{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 312px;
        height: 415px;
        padding: 32px;
        border: 0.5px solid $greyscale_black;
        border-radius: 4px;
        font-family: $font_2_regular;
        span{
            border: 1px solid $greyscale_black;
            border-radius: 4px;
            width: max-content;
            text-align: center;
            padding: 2px 4px 2px 4px;
            margin-bottom: 29px;
        }
        h5{
            font-weight: 400;
            @include styleH('h5');
            margin-bottom: 40px;
            height: 1px;
        }
        a{
            font-family: $font_1_bold;
            color: $greyscale_black;
        }
    }
    .container-first-svg {
        width:80px;
        height: auto;
        margin-bottom: 21px;
    }
    .button{
        box-shadow: 10.4494px 10.4494px 0px rgba(24, 24, 24, 0.1);
    }
    .container-text{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 21.6px;
    }
}
.section-form{
    margin: 100px 0 px 0;
    .wrapper{
        width: 100vw;
        margin: auto;
    }
    .container-form{
        display: flex;
        justify-content: center;
        gap:150px;
        height: 558px;
        background-color: $greyscale_black;
    }
    .container-svg{
        display: flex;
        align-items: center;
    }
    .container-touch{
        align-self: center;
        h2{
            font-weight: 400;
            @include styleH('h2');
            margin-bottom: 40px;
            color:$main_white;
        }
    }
    .separate-bar{
        position: absolute;
        right: 285px;
        height: 8px;
        width: 40px;
        background: $primary_color_purple;
    }
    .font-thin{
        font-family: $font_1_light;
    }
    strong{
        font-family: $font_1_bold;
    }
    form{
        display: flex;
        flex-direction: column;
        font-family: $font_2_regular;
        margin-top: 40px;
        input, textarea{
            background: #1C1C1C;
            border: none;
            width: 376px;
            height: 40px;
            padding:11px 11px 11px 16px;
            margin-bottom: 8px;
            border-radius: 4px;
            color: $greyscale_grey;
            outline: none;
            &:focus{
                border: 0.5px solid $main_white;
            }
        }

    #message{
        font-family: $font_2_regular;
        height: 100px;
        resize: none;
    }
    button{
        font-family: $font_1_bold;
        align-self: flex-end;
        background-color: $primary_color_green;
        border: none;
        border-radius: 4px;
        width: 82px;
        height: 40px;
        margin-top: 8px;
        padding: 11px 16px;
        font-size: 14px;
        color: $greyscale_black;
        &:hover{
            @include hover($bg:transparent,$border:1px $greyscale_light solid);
            color: $main_white;
        }
        }
    }
}
.section-join{
    .container-partners{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border-bottom: 1px solid $greyscale_light;
        padding: 54px 0;
    }
    .partners{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .partners h5{
        @include styleH('h5');
    }
    .logos-footer{
        display: flex;
        width: 960px;
        align-items: center;
        justify-content: space-around;
        img{
            width: 110px;
            height: 110px;
            padding: 27px;
        }
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    .container-eniblock{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        margin-top: 70px;
    }
    .logo-footer{
        display: flex;
        align-items: flex-start;
    }
    .logo-footer img{
        width: 70%;
    }
    .nav-footer{
        display: flex;
        gap: 77px;
    }
    .nav-footer-list{
        h6{
            font-family: $font_1_regular;
            @include styleH('h6',$font_2_regular);
            text-align: left;
            margin-bottom: 0;  
        }
        &>ul{
            flex-direction: column;
            font-family: $font_1_light;
            font-size:13px;
            line-height: 38px;
            text-align: left;
            padding-left: 0;
            li{
                a{
                    color: $greyscale_black;
                }
            }
        }
    }
    .subscribe{
        display:flex;
        flex-direction: column;
        justify-content: center;
        p{
            @include parag($size:14px);
            padding: 12px 0 12px 0;
        }
    }
    .logos-social>img{
        margin-right:18px;
    }
    .email{
        display: flex;
        input{
            display: inline-flex;
            border: none;
            border-radius: 4px;
            background-color: $greyscale_extralight;
            color:$greyscale_grey;
            height: 2em;
            margin-right: 16px ;
            &::placeholder{
                padding-left: 4px;
            }
            &:focus{
                outline:1px solid $greyscale_grey;
            }
        }
    }
    .container-copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $font_2_regular;
        border-top: 1px solid $greyscale_light;
        font-size: 11px;
        line-height:14.3px ;
        width: 90%;
        margin: auto;
        padding-bottom: 12px;
        padding-top: 8px;
        .btn{
            display: flex;
            gap: 4px;
            width: 80px;
            height: 30px;
            background-color: $greyscale_black;
            border:none;
            margin-left: 16px;
            padding: 8px 28px 8 16px;
            border-radius: 4px;
            .btn-text{
                @include button;
                display: flex;
                justify-content: center;
                margin: auto;
                color: $main_white;
            }
        }
        .arrow-down{
            margin-left: 4px;
        }
    }
    .terms{
        display: flex;
        align-items: center;
        p{
            margin-right: 19px;
        }
    }
    .language{
        display: flex;
        align-items:center;
    }
}

/*===================================
=            BREAK POINT            =
===================================*/

$breakPoint_tablet: 1200px;
$breakPoint_mobile: 700px;

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: portrait){

}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: landscape){

}

/*===================================
=            BREAK POINT TABLET    =
===================================*/
@media screen and (min-width: $breakPoint_mobile ) and (max-width: $breakPoint_tablet) {

body,html{
    overflow-x: hidden;
    margin: 0;
}
.wrapper{
    padding-left: 24px;
    padding-right: 24px;
}
header{
    position: relative;
    width: 100vw;
    .wrapper{
        width: 100vw;
        display: block;
    }
    .container-nav{
    height: 0;
    visibility: hidden;
    }
    .container-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .container-burger{
            display: block;
            .line-1,.line-2{
                width: 24px;
                height: 2px;
                background: white;
                margin-top: 5px;
            }
        }
    }
    &.cross-mode{
        .line-1{
            transform: rotate(45deg) translateY(4px);
            transition: transform 0.5s ease ;
        }
        .line-2{
            transform: rotate(-45deg) translateY(-4px);
            transition: transform 0.5s ease ;
        }
        .container-nav{
            position: absolute;
            width: 100vw;
            height: 100vh;
            top:80px;
            flex-direction: column;
            visibility: visible;
            transform: translateY(100px);
            transition: transform 0.5s ease;
            background: $greyscale_black;
            margin: auto;
            ul{
                display: block;
                line-height: 40px;
                font-family: 'Nunito-Regular',sans-serif;
            }
            .container-cta{
                display: block;
                p, .arrow-right{
                    display: none;
                }
                .button{
                    position: absolute;
                    margin: auto;
                    width: 90%;
                    top:-60px;
                    background:$primary_color_green ;
                    border: none;
                    .btn{
                        .btn-text{
                            color: $greyscale_black;
                            text-align: center;
                            display: block;
                            font-family: 'Chivo-Bold',sans-serif;
                        }
                    }
                }
            }
        }
    }
}
// SECTION HEAD
.section-head{
    padding-top: 63px;
    display: block;
    .wrapper{
        width: auto;
        display: block;
    }
    .container-svg{
        display: block;
        img{
            margin-top: 200px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        }
    }
    .container-partners{
        margin: auto;
        margin-top: 50px;
    }
    .container-logos-partners{
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
        &>img{
            flex:2 2 50%;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION PLATFORM

.section-platform {
    .wrapper{
        width: 100%;
    }
    .container-text{
   width: auto;
   padding: 10px;
   left: inherit;
      p{
        width: 100%;
        text-align: center;
        margin: auto;
      }
      h2{
        margin-top: 799px;
    }
    }
    .container-cards{
        justify-content: inherit;
        // display: none;
    }
    .container-card{
     p{
        width: 200px;
     }
    }
}
// ---------------FIN SECTION---------------
// SECTION BUILDING

.section-building{
    // h3{
    //     margin:40px 23.5px 20px 23.5px;
    // }
    img:nth-child(2){
        width: 100%;
        display: block;
        margin: auto;
    }
    .wrapper{
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .container-all{
        display: block;
    }
    .container-building{
        height: auto;
        width: 90%;
        margin: auto;
        padding-bottom: 26px;
        .container-svg{
            width: auto;
            margin-top: 20px;
            margin-bottom: 16px;
        }
        p{
            margin: auto;
        }
    }
}
.section-building-two{
    .container-icons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    .blockchains{
       display: flex;
       justify-content: flex-start;
       padding-left: 40px;
       width: 100%;
       h6{
        position: initial;
       }
    }
    .container-status{
        flex:  1 1 50%;
    }
}
    

// ---------------FIN SECTION---------------
// SECTION TOUCH
.section-touch{
    .wrapper{
        width: 100%;
        padding: 0px;
    }
    .container-touch{
        
        text-align: center;
        .btn{
            height: auto;
            padding: 14.5px 24px 14.5px ;
        }
    }

    .container-slice-left, .container-slice-right{
        display: none;
    }
}
// ---------------FIN SECTION---------------
// SECTION SOLUTION
.section-solutions{
    margin: auto;
    width: 100%;
    .wrapper{
        margin: auto;
        width: auto;
    }
    .container-discover{
        text-align: center;
    }
    .container-solutions{
        margin:100px auto 100px auto;
        .container-title{
            margin-top: 30px;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION READY
.section-ready{
    .container-text{
        width: auto;
        padding: auto 24px auto 24px;
    }
    img{
        display: none;
    }
}
// ---------------FIN SECTION---------------
// SECTION WHO
.section-who{
    width: auto;
    margin: auto;
    .wrapper{
        width: auto;
        margin: auto;
        padding: 0px;
    }
    h2{
        text-align: center;
        margin: 64px auto 20px auto;
    }
    p{
        padding-left: 24px;
        padding-right: 24px;
    }
    .container-who{
        width: auto;

        padding-bottom: 64px;
    }
    .container-who-left{
        margin: auto;
        width: auto;
    }
    .container-text{
        text-align: center;
        a.btn{
            display: none;
        }   
    }
    .container-who-right{
        width: auto;
        justify-content: center;
        margin: auto;
    }

    .container-card:nth-child(2){
        display: none;
    }

}
//  SECTION ABOUT
.section-about{
    .wrapper{
        width: auto;
    }
    display: flex;
    flex-direction: column;
    .container-about{
        display: block;
        .container-center{
            margin: auto;
            img{
                display: block;
                margin:40px auto 40px auto;
                width: 200px;
            }
        }
        h2{
            text-align: center;
            margin-bottom: 0px;
        }
        .separate-bar{
            margin: 24px auto 24px auto;
        }
        p{
            width: auto;
            text-align: center;
        }
        .container-right{
            p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            }
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION HAPPENING
.section-happening{
    .wrapper{
        width: auto;
    }
    .container-title{
        width: auto;
    }
}
// ---------------FIN SECTION---------------
// SECTION FORM
.section-form{
    .wrapper{
        padding: 0;
    }
    .container-touch{
        h2{
            text-align: center;
        }
    }
    .separate-bar{
        position:initial;
        margin-left: 310px;
    }
    .container-form{
        display: flex;
        height: max-content;
        padding: 24px 24px 24px 24px;
        .container-svg{
            width: 200px;
            justify-content: center;
            margin: auto;
        } 
        .img{
            width: 376px;
        }  
    }

}
// ---------------FIN SECTION---------------
// SECTION JOIN
.section-join{
    .wrapper{
        margin: auto;
        width: auto;
    }
    .container-partners{
        width: 100%;
        display: flex;
        flex-direction: column;
        // flex: 1 1 80%;
        .partners{
            margin: 100px auto  20px auto;
            h5{
                text-align: center;
            }
        }
        .logos-footer{
            justify-content: center;
            flex-wrap: wrap;
            width: auto;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION FOOTER
footer{
    padding-left: 24px;
    padding-right: 24px;
    .container-eniblock{
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .nav-footer{
        width: 70%;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        justify-content: flex-start;
        .nav-footer-list{
            justify-content: left;
            width: auto;
        }
    }
    .subscribe{
        width: 100%;
        margin-left: 20px;
        text-align: left;
    }
    .email input{
        width: 200px;
    }
    .container-copyright{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 80%;
        text-align: center;
        &>div,p{
            flex: 1 3 70%;
            margin: 10px auto 10px auto;
        }
        .language{
            a{
                display: none;
            }
        }
    }
}
/*=====  End of BREAK POINT  ======*/
}

/*===================================
=            BREAK POINT MOBILE     =
===================================*/
@media screen and (max-width: $breakPoint_mobile){

    @mixin styleH($hx, $color:$greyscale_black, $font: $font_1_bold){
            
        @if $hx== "h1" {
    
            font-size: $h1_textsize_tablet;
            $lineHeight: $h1_textsize_tablet * 1;
            line-height: $lineHeight;
        }
        @else if $hx== "h2"{
            font-size: $h2_textsize_tablet;
            $lineHeight: $h2_textsize_tablet * 1;
            line-height: $lineHeight;
        }
        @else if $hx== "h3"{
            font-size: $h3_textsize_tablet;
            $lineHeight: $h3_textsize_tablet * 1;
            line-height: $lineHeight;
        }
        @else if $hx== "h4"{
            font-size: $h4_textsize_tablet;
            $lineHeight: $h4_textsize_tablet * 1;
            line-height: $lineHeight;
        }
        @else if $hx== "h5"{
            font-size: $h5_textsize_tablet;
            $lineHeight: $h5_textsize_tablet * 1;
            line-height: $lineHeight;
        }
        @else if $hx== "h6"{
            font-size: $h6_textsize_tablet;
            $lineHeight: $h6_textsize_tablet * 1.3;
            line-height: $lineHeight;
        }
        color: $color;
        font-family: $font;
    }
    h1 *{
    @include styleH('h1',$h1_textsize_tablet );
   }
    h2 *{
        @include styleH('h2',$h2_textsize_tablet );
    }
    h3 *{
        @include styleH('h3',$h3_textsize_tablet );
    }
    h4 *{
        @include styleH('h4',$h4_textsize_tablet );
    }
    h5 *{
        @include styleH('h5',$h5_textsize_tablet );
    }
    h6 *{
        @include styleH('h6',$h6_textsize_tablet );
    }
body,html{
    overflow-x: hidden;
    margin: 0;
}
.wrapper{
    padding-left: 24px;
    padding-right: 24px;
}
header{
    position: relative;
    width: 100vw;
    .wrapper{
        width: 100vw;
        display: block;
    }
    .container-nav{
        height: 0;
        visibility: hidden;
        transform: translateY(-50px);
    }
    .container-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .container-burger{
            transform: rotate(180deg);
            transition: transform 0.5s ease ;
            display: block;
            .line-1,.line-2{
                width: 24px;
                height: 2px;
                background: white;
                margin-top: 5px;
            }
        }    
    }
    &.cross-mode{
        .line-1{
            transform: rotate(45deg) translateY(4px);
            transition: transform 0.5s ease ;
        }
        .line-2{
            transform: rotate(-45deg) translateY(-4px);
            transition: transform 0.5s ease ;

        }
        .container-nav{
            position: absolute;
            width: 100vw;
            height: 100vh;
            top:80px;
            flex-direction: column;
            visibility: visible;
            transform: translateY(100px);
            transition: transform 0.5s ease;
            background: $greyscale_black;
            ul{
                display: block;
                line-height: 40px;
                font-family: 'Nunito-Regular',sans-serif;
            }
            .container-cta{
                display: block;
                p, .arrow-right{
                    display: none;
                }
                .button{
                    position: absolute;
                    margin: auto;
                    width: 90%;
                    top:-60px;
                    background:$primary_color_green ;
                    border: none;
                    .btn{
                        .btn-text{
                            color: $greyscale_black;
                            text-align: center;
                            display: block;
                            font-family: 'Chivo-Bold',sans-serif;
                        }
                    }
                }
            }
        }
    }
}


// SECTION HEAD
.section-head{
    padding-top: 63px;
    .wrapper{
        width: auto;
        display: block;
    }
    .container-design {
        width: auto;
        // h1{
        //     font-size: $h1_textsize_tablet;
        // }
    }
    .container-svg{
        display: block;
        img{
            margin:200px auto auto auto ;
            max-width: 300px;
            position:absolute;
            left: 0;
            right: 0;
        }
    }
    .container-partners{
        margin: auto;
        margin-top: 50px;
    }
    .container-logos-partners{
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
        &>img{
            flex:2 2 50%;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION PLATFORM
.section-platform {
    .wrapper{
        width: 100%;
    }
    .container-text{
        width: auto;
        padding: 10px;
        left: inherit;
      p{
        width: 100%;
        text-align: center;
        margin: auto;
      }
      h2{
        margin-top: 599px;
    }
    }
    .container-cards{   
        justify-content: inherit;
        overflow-x: scroll;
    }
    .container-card{
     p{
        width: 200px;
     }
    }
}
// ---------------FIN SECTION---------------
// SECTION BUILDING
.section-building{
    .wrapper{
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .container-all{
        display: block;
    }
    h3{
        // @include styleH('h3',$h3_textsize_tablet);
        margin:40px 23.5px 20px 23.5px;
    }
    img:nth-child(2){
        width: 130%;
        margin: auto;

    }
    .container-building{
        height: auto;
        width: 90%;
        margin: auto;
        padding-bottom: 32px;
        .container-svg{
            width: auto;
            margin-top: 20px;
            margin-bottom: 16px;
        }
        // h5{
        //     // @include styleH('h5',$h5_textsize_tablet);
        // }
    }
    .container-text{
        margin-top: 40px;
        width: 80%;
    }
    .container-icons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    .blockchains{
       display: flex;
       justify-content: flex-start;
       width: 100%;
       h6{
        position: initial;
       }
    }
    .container-status{
        flex:  1 1 50%;
        margin-top:40px;
    }
}
// ---------------FIN SECTION---------------
// SECTION TOUCH
.section-touch{
    .wrapper{
        width: 100%;
        padding: 0px;
    }
    .container-touch{
        width: 100vw;
        text-align: center;
        .btn{
            height: auto;
            padding: 14.5px 24px 14.5px ;
        }
        .font-thin{
            @include styleH('h5',$h5_textsize_tablet);
        }
        strong{
            @include styleH('h4',$h4_textsize_tablet)
        }
    }
    .container-slice-left, .container-slice-right{
        display: none;
    }
}
// ---------------FIN SECTION---------------
// SECTION SOLUTION
.section-solutions{
    margin: auto;
    width: 100%;
    .wrapper{
        margin: auto;
        width: auto;
    }
    .container-discover{
        text-align: center;
        margin-top: 64px;
        // h2{
        //     @include styleH('h2',$h2_textsize_tablet);
        // }
    }
    .container-solutions{
        display: block;
        margin:100px auto 100px auto;
        .container-title{
            h3{
                @include styleH('h3', $h3_textsize_tablet );
            }
        }
        .container-articles{
            width: auto ;
        }
        .container-img img{
            margin: auto;
            width: 100%;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION READY
.section-ready{
    .container-text{
        width: auto;
        padding: auto 24px auto 24px;
        // h2{
        //     @include styleH('h2', $h2_textsize_tablet );
        // }
    }
    img{
        display: none;
    }
}
// ---------------FIN SECTION---------------
// SECTION WHO
.section-who{
    width: auto;
    margin: auto;
    .wrapper{
        width: auto;
        margin: auto;
        padding: 0px;
    }
    h2{
        text-align: center;
        margin: 64px auto 20px auto;
        // @include styleH('h2',$h2_textsize_tablet);
    }
    p{
        padding-left: 24px;
        padding-right: 24px;
    }
    .container-who{
        width: auto;
        display: block;
        height: max-content;
        padding-bottom: 64px;
    }
    .container-who-left{
        margin: auto;
        width: auto;
    }
    .container-text{
        text-align: center;
        a.btn{
            display: none;
        }   
    }
    .container-who-right{
        width: auto;
        justify-content: center;
        margin: auto;
    }

    .container-card:nth-child(2){
        display: none;
    }

}
// ---------------FIN SECTION---------------
//  SECTION ABOUT
.section-about{
    .wrapper{
        width: auto;
    }
    display: flex;
    flex-direction: column;
    .container-about{
        display: block;
        .container-center{
            margin: auto;
            img{
                display: block;
                margin:40px auto 40px auto;
                width: 200px;
            }
        }
        h2{
            text-align: center;
            margin-bottom: 0px;
            // @include styleH('h2',$h2_textsize_tablet);
        }
        .separate-bar{
            margin: 24px auto 24px auto;
        }
        p{
            width: auto;
            text-align: center;
        }
        .container-right{
            p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            }
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION HAPPENING
.section-happening{
    margin-top: 64px;
    .wrapper{
        width: auto;
    }
    .container-happening{
        .container-title{
            width: auto;
            margin-top: 0px;
            // h2{
            //     @include styleH('h2',$h2_textsize_tablet);
            // }
        }
    }
    .container-cards{
        display: block;
        .container-card{
            margin: 24px auto
        }
    }
    .separate-bar{
        position: initial;
        margin: 24px auto;
    }
}
// ---------------FIN SECTION---------------
// SECTION FORM
.section-form{
    .wrapper{
        padding: 0;
    }
    .container-touch{
        h2{
            text-align: center;
            // @include styleH('h2',$h2_textsize_tablet);
        }
    }
    .separate-bar{
        position:initial;
        margin-left: 270px;
    }
    .container-form{
        display: flex;
        flex-direction: column;
        gap:20px;
        height: max-content;
        padding: 24px 24px 24px 24px;
        .container-svg{
            max-width: 80%;
            justify-content: center;
            margin: auto;
        } 
        .img{
            max-width: 100px;
        }  
    }

}
// ---------------FIN SECTION---------------
// SECTION JOIN
.section-join{
    .wrapper{
        margin: auto;
        width: auto;
    }
    .container-partners{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        .partners{
            margin: 100px auto  20px auto;
            h5{
                text-align: center;
                // @include styleH('h5',$h5_textsize_tablet);
            }
        }
        .logos-footer{
            justify-content: center;
            flex-wrap: wrap;
            gap:20px;
            width: auto;
        }
    }
}
// ---------------FIN SECTION---------------
// SECTION FOOTER
footer{
    padding-left: 24px;
    padding-right: 24px;
    .container-eniblock{
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .nav-footer{
        width: 70%;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        justify-content: flex-start;
        .nav-footer-list{
            justify-content: left;
            width: auto;
        }
    }
    .subscribe{
        width: 100%;
        text-align: left;
    }
    .email input{
        width: 200px;
    }
    .container-copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        p{
            margin-top: 24px;
        }
        .terms{
            display: block;
            margin-bottom: 24px;
        }
        // .language:first{
        //     .btn{
        //         .btn-text{
        //             color: #1C1C1C;
        //         }
        //     }
        // }
    }
}
/*=====  End of BREAK POINT  ======*/
}
